* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    background-color: dodgerblue;
    color: white;
}

#wish {
    height: 20vh;
    font-size: 4rem;
}

#hr {
    width: 5rem;
    height: 1rem;
    background-color: white;
    margin: 0 auto;
}

#time {
    margin-top: 2.5rem;
    height: 50vh;
    font-size: 5.5rem;
    text-align: center;
}
 #date {
     height: 20vh;
     font-size: 3rem;
 }